{% extends "base.html" %}

{% block content %}
<div class="container">

<h1 class="sub-header">Host</h1>
<div class="pull-right">
    <a class="btn btn-primary" href="{{ url_for('host_form') }}">Add host</a>
</div>

<table class="table table-striped">
    <thead>
        <th scope="col">#</th>
        <th scope="col">NAME</th>
        <th scope="col">IP</th>
        <th scope="col">PORT</th>
        <th scope="col">DOMAIN</th>
        <th scope="col">OPERATION</th>
    </thead>
    <tbody>
{% for host in hosts%}
        <tr>
            <th scope="row">{{ host.id }}</th>
            <td>
                <span class="label 
                {% if host.status.title == 'Prepare' %}
                label-warning
                {% elif host.status.title == 'Business' %}
                label-success
                {% elif host.status.title == 'Problem' %}
                label-danger
                {% else %}
                label-primary
                {% endif %}
                    ">{{ host.status.title }}</span> 
                {{ host.name }}
            </td>
            <td>{{ host.ip }}</td>
            <td>{{ host.port}}</td>
            <td>{{ host.domain}}</td>
            <td>
                <a target="_self" title="Edit" href="{{ url_for('host_form', host_id=host.id) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a target="_self" title="Delete" href="{{ url_for('host_delete', host_id=host.id) }}"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>

</div>
{% endblock %}
