{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script>
    $(function () {
        $('#site_type').on('change', function() {
            var val = this.value;
            $('#source_host_id option').hide().filter(function() {
                return this.text.indexOf(val) != -1;
            }).show();
        })
        .change();
    });
    </script>
{% endblock %}

{% block content %}
<div class="container">

<h2 class="sub-header">Clone Site</h2>

<form class="form-horizontal" method="post" action="/task/clone_site">
    <div class="form-group">
        <label for="site_type" class="col-sm-2 control-label">Web Type</label>
        <div class="col-sm-4">
            <select id="site_type" class="form-control" name="site_type" value="cscart">
                <option value="cscart">Cscart</option>
                <option value="magento">Magento</option>
                <option value="opencart">Opencart</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="source_host_id" class="col-sm-2 control-label">Web Source</label>
        <div class="col-sm-4">
            <select id="source_host_id" class="form-control" name="source_host_id" value="{{ source_hosts[0].id }}">
                <option>Please Select Source...</option>
                {% for host in source_hosts %}
                <option value="{{ host.id }}">{{ host.domain }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="target_host_id" class="col-sm-2 control-label">Target Host</label>
        <div class="col-sm-4">
            <select class="form-control" name="target_host_id" value="{{ target_hosts[0].id }}">
                {% for host in target_hosts %}
                <option value="{{ host.id }}">{{ host.domain }}@{{ host.ip }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="table_prefix" class="col-sm-2 control-label">Table prefix</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" name="table_prefix" value="cscart_" />
        </div>
    </div>
    <div class="form-group">
        <label for="order_start_id" class="col-sm-2 control-label">Initial order ID value</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" name="order_start_id" value="{% if order_start_id %} {{ order_start_id }} {% endif %}" />
        </div>
    </div>
    <div class="form-group">
        <label for="smtp_host" class="col-sm-2 control-label">SMTP host</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" name="smtp_host" value="" />
        </div>
    </div>
    <div class="form-group">
        <label for="smtp_username" class="col-sm-2 control-label">SMTP username</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" name="smtp_username" value="" />
        </div>
    </div>
    <div class="form-group">
        <label for="smtp_password" class="col-sm-2 control-label">SMTP password</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" name="smtp_password" value="" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Clone</button>
        </div>
    </div>
</form>

</div>

{% endblock %}
