{% extends "base.html" %}

{% block content %}
<div class="container">

<h2 class="sub-header">Task</h2>
<div>
    <a class="btn btn-primary" href="{{ url_for('task_clone_site_form') }}">Clone Site</a>
</div>

<table class="table table-striped">
    <thead>
        <th scope="col">#</th>
        <th scope="col">NAME</th>
        <th scope="col">DATA</th>
    </thead>
    <tbody>
{% for tasklog in tasklogs%}
        <tr>
            <th scope="row">{{ tasklog.id }}</th>
            <td>{{ tasklog.task_name }}</td>
            <td>{{ tasklog.custom_data }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>


</div>
{% endblock %}
