{% extends "base.html" %}

{% block content %}
<div class="container">

<h2 class="sub-header">Clone Site</h2>

<form class="form-horizontal" method="post" action="/task/clone_site">
    <div class="form-group">
        <label for="source_host_id" class="col-sm-2 control-label">Source Host</label>
        <div class="col-sm-4">
            <select class="form-control" name="source_host_id", value="{{ hosts[0].id }}">
                {% for host in hosts %}
                <option value="{{ host.id }}">{{ host.domain }}@{{ host.ip }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="target_host_id" class="col-sm-2 control-label">Target Host</label>
        <div class="col-sm-4">
            <select class="form-control" name="source_host_id", value="{{ hosts[0].id }}">
                {% for host in hosts %}
                <option value="{{ host.id }}">{{ host.domain }}@{{ host.ip }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Clone</button>
        </div>
    </div>
</form>

</div>
{% endblock %}
